@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "CloisterBlack";
  src: url("../assets/fonts/CloisterBlack.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FG-condensed";
  src: url("../assets/fonts/FG-condensed.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "applewood";
  src: url("../assets/fonts/applewood.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "clarendon";
  src: url("../assets/fonts/clarendon.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lucian";
  src: url("../assets/fonts/lucian.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-libre {
  font-family: "Libre Caslon Text", serif;
}

.change-cursor {
  cursor: url("/cursor.png"), auto !important;
}

